<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} &mdash; USIU-A Hackathon March 2015</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/images/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="/images/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="/images/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <link rel="stylesheet" href="/stylesheet/normalize.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
        <script src="/javascript/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>

        <!-- Add your site or application content here -->
        <header role="header">
            <a href="" class="logo"><img src="/images/logo_black.png"></a>
            <nav role="navigation">
                <a href="/register" title="">Register</a>
                <a href="/schedule" title="">Schedule</a>
                <a href="/rules" title="">Rules</a>
                <a href="/guide" title="">Guide</a>
                <a href="/contact" title="" class="active">Contact</a>
            </nav>
        </header>
        <div class="content page" role="main">
            <section>
                <div>
                    <header>
                        <h1>Contact</h1>
                        <p>Thoughts, ideas, comments or suggestions about the hackathon?
                        <br>Get in touch, we&rsquo;d love to hear from you</p>
                    </header>
                    <div class="main">
                        
                        <article class="guide">
                            <h5>You can reach us through the following channels&hellip;</h5>
                            <ul>
                                <li><a href="mailto:usiuhackathon@gmail.com">Email</a></li>
                                <li><a href="">Twitter</a></li>
                                <li><a href="">Facebook</a></li>
                            </ul>
                        </article>
                    </div>
                </div>
            </section>
        </div>

        <footer class="clearfix" role="footer">
            <div class="half">
                <h3>Got questions?</h3>
                <a href="mailto:usiuhackathon@gmail.com">Email</a>
                <a href="http://twitter.com/USIUHackathon">Twitter</a>
                <a href="">Facebook</a>

                <br>
                <p class="privacy-terms-links"><a href="/terms">Terms and Conditions</a> | <a href="/privacy">Privacy Policy</a></p>
            </div>

            <div class="half">
                <h3>Presented By</h3>
                <img src="/images/usiu_it_club_logo2.gif">
            </div>

             <div class="credits">             
                <h3>Designed &amp; Developed <br>(with <3 and lots of Tea &amp; Coffee)</h3>
                <a href="http://twitter.com/IanJuma" title="Ian Juma">@IanJuma</a>
                <a href="http://twitter.com/pbombo">@pbombo</a>
            </div>
        </footer>

        <script src="/javascript/vendor/jquery-2.1.0.min.js"></script>
        <script src="/javascript/helper.js"></script>
        <script src="/javascript/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-59739884-1');ga('send','pageview');
        </script>

    </body>
</html>
