<header role="header">
    <a href="" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" title="">Register</a>
        <a href="/schedule" title="">Schedule</a>
        <a href="/rules" title="">Rules</a>
        <a href="/guide" title="">Guide</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content home" role="main">
    <h1>The IT Club of USIU-A presents a hackathon on March 14</h1>
    <h2>This is the first event of it&rsquo;s kind in the school. Come connect with other developers, <cite title="i.e. people with ideas">ideaters</cite> and other like minded guys. It&rsquo;s all about learning and sharing!</h2>
        <br>
    <section class="what-to-expect">
        <h2><span>What to expect</span></h2>
        <ul>
            <li>A <strong>shirt</strong> :)</li>
            <li>Snacks and Drinks throughout the event</li>
            <li>You get to meet other developers and techies</li>
            <li>Be part of building a new community</li>
        </ul>
        <br>
        <a class="button" href="/register">Sign me up!</a>
    </section>
        
    <section class="goals">
        <h2><span>Hackathon Goals</span></h2>
        <ul>
            <li>Building a developer community within campus</li>
            <li>Create a hackathon (tech events) culture at USIU</li>
            <li>Mentor younger hackers; mentor/ mentee program</li>
            <li>Build teams/ team building: Get our team to work with others that they may not regularly work with</li>
            <li>Creative output: Give everyone the opportunity to get away from their desks and daily tasks to squeeze out their creative juices</li>
            <li>Product development: Create working products or services</li>
        </ul>
    </section>

    <section class="extras">
        <h2><span>Extras</span></h2>
        <ul>
            <li>There&rsquo;ll be presentations on Google Technologies </p>
            <li>Github Student Pack Activations</li>
            <li>Certified Ethical Hacking Demos</li>
        </ul>
    </section>


    <section class="sponsors-wrapper clearfix">
        <h2><span>Sponsors</span></h2>
        <ul class="sponsors clearfix">
            <li>
                <a href="http://www.usiu.ac.ke">
                    <img src="/images/usiu_logo.png">
                </a>
            </li>
            <li>
                <a href="http://www.rethinkdb.com/">
                    <img src="/images/RethinkDB.png">
                </a>
            </li>
            <li>
                <a href="http://www.github.com/">
                    <img src="/images/GitHub.png" width="80%">
                </a>
            </li>
            <!--
            <li>
                <a href="http://www.africastalking.com/">
                    <img src="/images/AfricasTalking.png">
                </a>
            </li>
            -->
        </ul>

        <h3>Would you like to sponsor the event? <a href="mailto:usiuhackathon@gmail.com">Drop us an email</a></h3>
    </section>
</div>
