<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" class="active" title="">Register</a>
        <a href="/schedule" title="">Schedule</a>
        <a href="/rules" title="">Rules</a>
        <a href="/guide" title="">Guide</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content page" role="main">
    <section>
        <div>
            <header>
                <h1>Register</h1>
                <p>Open Application for the USIU-A Hackathon on March 14<sup>th</sup> 2015</p>
            </header>
            <div class="main">
                <p><span>*</span> denotes a required field</p>
                <form id="registration-form" method="POST">
                    <ul>
                        <li>
                            <label for="name">Name <span>*</span></label>
                            <input type="text" name="name" required autocomplete>
                        </li>

                        <li class="inline">
                            <label for="email">Email<span>*</span> (School email please)</label>
                            <input type="email" name="email" required autocomplete>
                        </li>

                        <li class="inline">
                            <label for="telephone">Phone Number<span>*</span> (+254 7XX XXX XXX)</label>
                            <input type="telephone" name="telephone" required autocomplete>
                        </li>

                        <li>
                            <label for="github">GitHub Username </label>
                            <input type="text" name="github_username">
                        </li>

                        <li>
                            <label for="description">Tell us a little about you idea<span>*</span></label>
                            <textarea name="description" required></textarea>
                        </li>
                    </ul>

                    <button>Submit</button>
                </form>
            </div>
        </div>
    </section>
</div>