<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/images/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="/images/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="/images/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">


        <link rel="stylesheet" href="/stylesheet/normalize.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
        <script src="/javascript/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>

        <!-- Add your site or application content here -->
        <header role="header">
            <a href="" class="logo"><img src="/images/logo_black.png"></a>
            <nav role="navigation">
                <a href="" title="">Register</a>
                <a href="" class="active" title="">Schedule</a>
                <a href="" title="">Rules</a>
                <a href="" title="">Guide</a>
                <a href="" title="">Contact</a>
            </nav>
        </header>
        <div class="content page schedule" role="main">
            <section>
                <div>
                  <header>
                    <h2>Saturday <span class="slash hidden">/</span> 14<span class="hour">th</span></h2>
                    <h1>Schedule</h1>
                    <p>It’s the first night of an action-packed week, so let’s get together in the company of a few friends, and catch up over a beer or two.</p>
                    <dl>
                      <dt>When</dt>
                      <dd>9<span class="hour">AM</span> &mdash; 7:40 <span class="hour">PM</span></dd>
                      <dt>Where</dt>
                      <dd>School of Science Complex</dd>
                    </dl>
                  </header>
                  <div class="main">
                    <ul class="events">
                      <li class="clearfix">
                        <p>9<span class="hour">am</span></p>
                        <h2>Idea Pitches</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p>Description</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>9:30<span class="hour">am</span></p>
                        <h2>Team selection and announcements</h2>
                        <!-- <h3></h3> -->
                        <div>
                          <p>Grab a pen and paper (and some slick Dribbble swag to go with it), and join us for a night of sketching. You post your best work to Dribbble, and we’ll give out prizes to the best shots, including a brand new Wacom Bamboo tablet.</p>
                        </div>
                        <aside>
<!--                           <ul>
                            <li><a href="http://dribbble.com">Website</a></li>
                            <li><a href="https://twitter.com/dribbble">Twitter</a></li>
                          </ul>
 -->                        </aside>
                      </li>
                      <li class="clearfix">
                        <p>10:00<span class="hour">am</span></p>
                        <h2>Start Hacking!</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p>Description</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>11:30<span class="hour">am</span></p>
                        <h2>Snacking!</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p>Description</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>12:00<span class="hour">am</span></p>
                        <h2>Teams continue hacking!</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p>Description</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>1<span class="hour">pm</span></p>
                        <h2>Lunch</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p></p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>1:40<span class="hour">pm</span></p>
                        <h2>Teams continue hacking - with teams snacking at will</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p></p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>5:40<span class="hour">pm</span></p>
                        <h2>Hand in final presentations</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p></p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>5:50<span class="hour">pm</span></p>
                        <h2>Team presentations</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p></p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>7:00<span class="hour">pm</span></p>
                        <h2>Scoring period - Judges break off to make objective/ subjective rulings</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p></p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>7:30<span class="hour">pm</span></p>
                        <h2>Announcement of winning team and MVPs</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p></p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <p>7:40<span class="hour">pm</span></p>
                        <h2>Team bonding</h2>
                        <!-- <h3>LT3</h3> -->
                        <div>
                          <p></p>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </section>
        </div>

        <footer class="clearfix" role="footer">
            <div class="half">
                <!-- <h3>Presented By</h3> -->
                <h3>Got questions?</h3>
                <a href="mailto:info@usiuhackathon.me">Email</a>
                <a href="">Twitter</a>
                <a href="">Facebook</a>
            </div>

            <div class="half">
                <h3>Presented By</h3>
                <p>IT CLUB OF USIU</p>
            </div>
        </footer>

        <script src="/javascript/vendor/jquery-2.1.0.min.js"></script>
        <script src="/javascript/helper.js"></script>
        <script src="/javascript/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-59739884-1');ga('send','pageview');
        </script>

    </body>
</html>
