<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" title="">Register</a>
        <a href="/schedule" title="">Schedule</a>
        <a href="/rules" title="">Rules</a>
        <a href="/guide" title="">Guide</a>
        <a href="http://blog.usiuhackathon.me/" title="">Blog</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content page" role="main">
    <section>
        <div>
            <header>
                <h1>Thanks!</h1>
            </header>
            <div class="main">
                <p>Thank you for registering! Keep checking your inbox, we&rsquo;ll be in touch as we build up to the 14th.</p>
            </div>
        </div>
    </section>
</div>
