header, .content, footer {
	width: 95%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.content {
	
	font-family: $primary_stack;
	padding-top: 3em;
	padding-bottom: 5em;
	
	h1 {
		font-family: $oswald_stack;
		font-size: 3em;
		letter-spacing: -1px;
		line-height: 1;
		color: $blue;
		text-transform: uppercase;
		// max-width: 75%;
		// margin-bottom: 0;
	}
	
	h2 {
		padding-bottom: 0.5em;
	}
	
	h3 {
		font-family: $primary_stack;
		margin-bottom: 5em;
	}
	
	p {
		font-family: $primary_stack;
		font-size: 1.25em;
		font-weight: 100;
		line-height: 1.8;
		width: 90%;
	}
		
}