.home {

	* {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	h1 {
		margin-bottom: 0.1em;
	}

	h2 {
		width: 90%;
		font-weight: 300;
		
		span {
			color: #FFF;
			background: $usiu_yellow;
			padding: 0.25em 1em;
		}
	}

	> section {

		width: 80%;
		margin: auto;

		margin-bottom: 6em;
		// border-top: 1px solid #E0E0E0;


		h2 {
			font-size: 2.125em;
			font-family: $oswald_stack;
			font-weight: 300;
			text-transform: uppercase;
			
			border-bottom: 1px solid $usiu_yellow;

			margin-bottom: 2em;

			padding-left: 0.25em;
			padding-bottom: 0;

		}

		p {
			text: center;
			width: auto;
		}

		.button {
			background: #000;
			border-color: #000;
		}

		ul, li {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		}

		li {
			margin-bottom: 1em;
		}

	}

	//Sponsor Section
	.sponsors-wrapper {

		// margin: 6em 0 1em;
		// padding: 2em 0 4em;

		// border-top: 1px solid #DDD;
		
		ul, li {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		}

		h2 {
			// font-family: $oswald_stack;
			// font-weight: 400;
			// font-size: 2.25em;
			// text-transform: uppercase;
			// color: #BBB;
			// // color: $blue;
			// margin-top: 0;
		}

		h3 {
			font-family: $primary_stack;
			font-weight: 300;
			letter-spacing: -1px;
			margin-top: 3em;
			margin-bottom: 0;
		}

		a {
			color: $blue;
			text-decoration: none;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom-color: $usiu_yellow;
			}
		}

		li {
			float: left;
			width: 250px;
			min-height: 140px;

			line-height: 120px;

			margin-right: 3em;

			a {
				display: block;
				border: none;
			}

			img {
				width: 100%;
				vertical-align: middle;
			}

		}
	}

}