/* ==========================================================================
   Media Queries for Responsive Design.
   Theses styles override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 640px) {
    /* Style adjustments for viewports that meet the condition */

    header { 
    	nav {

    		clear: none;
			float: right;
			line-height: 4.75em;
			margin-bottom: 0em;

			a {
				margin-right: 0;
				margin-left: 1em;
			}
		}
    }

	.content {
		p {
			max-width: 720px;
		}

		input {
			width: 350px;
		}
		textarea {
			width: 500px;
		}

		&.home {

			h1 {
				font-size: 5em;
			}
		}

		&.page {

			h1 {				
				font-size: 4em;
				font-weight: 300;
				margin-bottom: 1.5em;
			}

			form button {
				margin-left: auto;
				margin-right: auto;				
			}
		}

		> section {

			margin-top: 0;
			
			header {

				float: left;
				margin-right: 3%;
				padding-left: 0;
				width: 28%;

				padding-top: 2em;

				border: none;

				h1 {
					margin-bottom: 2.5641%;
					padding-right: 5.12821%;
				}

				h2 {
					margin-bottom: 0.5em;
					padding-right: 0;
				}

				p {
					padding-right: 0;					
				}

				dl {
					margin-bottom: 0;
					margin-top: 4em;

					dt {
						display: block;
					}

					dd {
						float: left;
						width: 67.3913%;
						margin-right: 0;
					}
				}

				dt {
					border-top-color: #bfbfbf;
					font-weight: 500;
					color: #737373;
				}

				&.sticky {
					position: fixed;
					top: 0;
				}
			}

			.main {
				margin-right: 0;
				float: right;
				width: 65%;
				margin-top: -1em;
				padding-top: 0;
				padding-bottom: 10%;
				padding-left: 0;

				li > p {
					display: block;
					float: left;
					width: 15.09434% ! important;
					font-weight: 400;
					color: #222;
					margin-right: 3.77358%;

				}

				h2, li > p:first-child {
					height: 4em;
					padding-top: 3em;
					padding-bottom: 0;
				}

				h2 {
					float: left;
					width: 81.13208%;
					padding-top: 2.3em;
					padding-right: 0;
				}

				h3 {
					float: left;
					width: 81.13208%;
					margin-right: 0;
					margin-top: 0.5em;
					margin-bottom: 2em;
					margin-left: 18.86792%;
				}

				form {
					margin-top: 0;
					padding-top: 4em;
					border-top: solid 1px #E6E6E6;

					ul {

						li {

							&.inline {
								display: inline-block;
								vertical-align: middle;
								width: 325px;
								margin-right: 1em;
							}
						}
					}
				}

				ul {

					li {
						margin-top: 4em;

						div {
							display: block;
							float: left;
							margin-right: 3.77358%;
							width: 62.26415%;
							margin-left: 18.86792%;						
						}

					}
				}

				aside {
					float: right;
					width: 14%;

					ul {

						li {
							float: none;
							display: block;
							padding-bottom: 0;
							line-height: 2.25em;

							+ :before {
								display: none;
								content: "";
							}

						}
					}
				}

			}

		}
	}


	footer.shadow {
		box-shadow: 0 -3px 5px #EEE;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dppx) {
    /* Style adjustments for viewports that meet the condition */
}


@media only screen and (max-width: 480px) {

	header > nav > a {
		font-size: 0.9em;
	}

}
