@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:300,400,700);
/*
 * USIU Hackathon Mar 2015 Info Site
 *
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

::-moz-selection {
  background: #FFCB08;
  text-shadow: none; }

::selection {
  background: #FFCB08;
  text-shadow: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Site styles
   ========================================================================== */
/** Header and Navigation Styles **/
header {
  height: 5em;
  line-height: 5em; }
  header a.logo {
    float: left;
    line-height: 5em; }
    header a.logo img {
      height: 40px; }
  header nav {
    clear: both;
    line-height: 3.75em;
    margin-bottom: 2em; }
    header nav a {
      font-size: 1.125em;
      font-variant: small-caps;
      text-transform: lowercase;
      text-decoration: none;
      color: #000;
      letter-spacing: 2px;
      line-height: 0;
      margin-right: 1em; }
      header nav a:hover, header nav a.active {
        border-bottom: 2px solid #FFCB08; }

/** End of Header and Navigation Styles **/
header, .content, footer {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.content {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 3em;
  padding-bottom: 5em; }
  .content h1 {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    letter-spacing: -1px;
    line-height: 1;
    color: #00A0E3;
    text-transform: uppercase; }
  .content h2 {
    padding-bottom: 0.5em; }
  .content h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 5em; }
  .content p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    line-height: 1.8;
    width: 90%; }

/** General Styles **/
.half {
  width: 50%;
  box-sizing: border-box;
  padding: 1em;
  float: left; }

.content label {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.25em; }
  .content label span {
    color: red; }
.content input, .content textarea {
  display: block;
  background: #FAFAFA;
  font-size: 0.9em;
  outline: none;
  border: 1px solid #DDD;
  padding: 0.75em 0.5em;
  margin-bottom: 1.5em;
  width: 90%;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear; }
  .content input:focus, .content textarea:focus {
    background: #FFF; }
.content textarea {
  height: 200px; }
.content button, .content .button {
  display: inline-block;
  background: #FFCB08;
  font-size: 0.9em;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 1em 2em;
  border: 1px solid #FFCB08;
  outline: none;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear; }
  .content button:hover, .content .button:hover {
    opacity: 0.9; }
.content > section {
  width: 100%;
  margin-top: 2em; }
  .content > section * {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .content > section > div {
    position: relative;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin: 0; }
    .content > section > div:before, .content > section > div:after {
      content: " ";
      display: table; }
    .content > section > div:after {
      clear: both; }
  .content > section header {
    display: block;
    line-height: 1.4;
    height: auto;
    padding-top: 6.41026%;
    padding-bottom: 4em;
    padding-left: 4%;
    border-top: solid 1px #E6E6E6;
    border-bottom: solid 1px #E6E6E6; }
    .content > section header h1 {
      font-size: 2.1em;
      letter-spacing: 0.05em;
      font-weight: 300;
      color: #00A0E3;
      line-height: 1;
      margin-top: -0.2em;
      margin-bottom: 0.6em; }
    .content > section header h2 {
      font-size: 0.9em;
      font-weight: 400;
      color: #666666;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 0.5em; }
      .content > section header h2 .slash, .content > section header h2 .hour {
        color: #BBB;
        font-weight: 400; }
    .content > section header p {
      font-size: 0.9em;
      color: #AAA;
      padding-right: 5.12821%; }
    .content > section header dl {
      font-size: 0.85em;
      font-weight: 400;
      color: #8c8c8c;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      word-spacing: 0.1em;
      line-height: 1.5;
      margin-top: 5.12821%;
      margin-bottom: -2.5641%; }
      .content > section header dl:before, .content > section header dl:after {
        content: " ";
        display: table; }
      .content > section header dl:after {
        clear: both; }
      .content > section header dl dd {
        display: block;
        float: left;
        margin-left: 0;
        margin-right: 1.2%;
        width: 48%;
        border-top-color: #CCC; }
        .content > section header dl dd .hour {
          padding-left: 0.2em; }
      .content > section header dl dt {
        display: none;
        float: left;
        width: 23.91304%;
        clear: both;
        font-weight: 500;
        color: #737373;
        margin-right: 8.69565%;
        border-top-color: #BBB; }
    .content > section header dt, .content > section header dd {
      padding-top: 1.4em;
      padding-bottom: 2.4em;
      border-top: 1px solid transparent; }
    .content > section header dt {
      border-top-color: #BBB;
      font-weight: 500;
      color: #737373; }
  .content > section .main {
    margin-right: 0;
    padding: 5% 4%; }
    .content > section .main > p span {
      color: red; }
    .content > section .main a {
      text-decoration: none; }
    .content > section .main ul, .content > section .main li {
      list-style: none;
      margin: 0;
      padding: 0; }
    .content > section .main h2, .content > section .main li > p:first-child {
      width: 100%;
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 0.15em;
      color: #333;
      border-top: solid 1px #00A0E3;
      padding-top: 1em;
      padding-bottom: 0; }
      .content > section .main h2 .hour, .content > section .main li > p:first-child .hour {
        color: #BBB; }
    .content > section .main h2 {
      font-size: 1.1em;
      font-weight: normal;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      word-spacing: 0.1em;
      color: #00A0E3;
      border-top: solid 1px #E6E6E6;
      padding-top: 1.5em;
      padding-right: 5.12821%;
      padding-bottom: 0; }
    .content > section .main h3 {
      display: block;
      font-weight: normal;
      font-size: 0.9em;
      color: #CCC;
      text-transform: uppercase;
      word-spacing: 0.1em;
      letter-spacing: 0.1em;
      line-height: 1.4;
      margin-top: 0.5em;
      margin-bottom: 1.66667em;
      padding-right: 5.12821%; }
      .content > section .main h3 a {
        color: #AAA; }
    .content > section .main ul li {
      display: block;
      padding-bottom: 1em; }
      .content > section .main ul li div {
        display: block; }
    .content > section .main ul div p {
      font-size: 0.9em;
      max-width: 38em; }
    .content > section .main form ul li {
      margin: 0;
      padding-bottom: 0; }
    .content > section .main aside ul {
      line-height: 1.8em; }
      .content > section .main aside ul:before, .content > section .main aside ul:after {
        clear: both; }
      .content > section .main aside ul li {
        float: left;
        font-size: 0.8em;
        text-transform: uppercase;
        line-height: 2.25em;
        margin-top: 0; }
        .content > section .main aside ul li + :before {
          content: "/";
          color: #CCC;
          padding-left: 0.6em;
          padding-right: 0.6em; }
        .content > section .main aside ul li a {
          color: #AAA; }

/** End of General Styles **/
.home * {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
.home h1 {
  margin-bottom: 0.1em; }
.home h2 {
  width: 90%;
  font-weight: 300; }
  .home h2 span {
    color: #FFF;
    background: #FFCB08;
    padding: 0.25em 1em; }
.home > section {
  width: 80%;
  margin: auto;
  margin-bottom: 6em; }
  .home > section h2 {
    font-size: 2.125em;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #FFCB08;
    margin-bottom: 2em;
    padding-left: 0.25em;
    padding-bottom: 0; }
  .home > section p {
    text: center;
    width: auto; }
  .home > section .button {
    background: #000;
    border-color: #000; }
  .home > section ul, .home > section li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home > section li {
    margin-bottom: 1em; }
.home .sponsors-wrapper ul, .home .sponsors-wrapper li {
  list-style: none;
  margin: 0;
  padding: 0; }
.home .sponsors-wrapper h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: 3em;
  margin-bottom: 0; }
.home .sponsors-wrapper a {
  color: #00A0E3;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  .home .sponsors-wrapper a:hover {
    border-bottom-color: #FFCB08; }
.home .sponsors-wrapper li {
  float: left;
  width: 250px;
  min-height: 140px;
  line-height: 120px;
  margin-right: 3em; }
  .home .sponsors-wrapper li a {
    display: block;
    border: none; }
  .home .sponsors-wrapper li img {
    width: 100%;
    vertical-align: middle; }

.content > section .main .guide, .content > section .main .terms, .content > section .main .privacy {
  max-width: 640px; }
  .content > section .main .guide h4, .content > section .main .guide h5, .content > section .main .terms h4, .content > section .main .terms h5, .content > section .main .privacy h4, .content > section .main .privacy h5 {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .content > section .main .guide h4, .content > section .main .terms h4, .content > section .main .privacy h4 {
    font-size: 2.25em;
    font-weight: 400;
    color: #00A0E3;
    text-transform: uppercase;
    margin-top: 2.75em; }
  .content > section .main .guide h5, .content > section .main .terms h5, .content > section .main .privacy h5 {
    font-size: 1.5em;
    font-weight: 400;
    font-variant: small-caps;
    text-transform: lowercase;
    margin-top: 2.5em;
    margin-bottom: 0.75em; }
  .content > section .main .guide p, .content > section .main .terms p, .content > section .main .privacy p {
    max-width: inherit;
    font-size: 1em;
    font-weight: 400; }
  .content > section .main .guide a, .content > section .main .terms a, .content > section .main .privacy a {
    text-decoration: none;
    color: #00A0E3;
    border-bottom: 1px solid transparent; }
    .content > section .main .guide a:hover, .content > section .main .terms a:hover, .content > section .main .privacy a:hover {
      border-bottom-color: #FFCB08; }
  .content > section .main .guide ul li, .content > section .main .terms ul li, .content > section .main .privacy ul li {
    display: list-item;
    font-size: 0.9em;
    line-height: 1.8;
    list-style: disc;
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 0.25em;
    padding-left: 0.25em;
    padding-bottom: 0; }

/** Footer Styles **/
footer {
  background: #FFF;
  position: relative;
  z-index: 1;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  color: #999999;
  letter-spacing: 1px;
  margin: 2em 0;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid #E0E0E0; }
  footer h3 {
    font-size: 0.85em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 2.5em; }
  footer p {
    letter-spacing: 0; }
  footer .privacy-terms-links a {
    display: inline-block;
    color: #AAA;
    font-size: 0.85em; }
  footer img {
    width: inherit; }
  footer a {
    display: table;
    color: #00A0E3;
    text-decoration: none;
    margin-bottom: 0.25em;
    border-bottom: 1px solid transparent; }
    footer a:hover {
      border-bottom-color: #FFCB08; }
  footer .credits {
    clear: both;
    width: 100%;
    padding: 4em 1em 1em;
    color: #B0B0B0; }
    footer .credits h3 {
      margin-bottom: 1em;
      text-transform: none; }
    footer .credits a {
      display: inline-block;
      color: #AAA;
      font-size: 0.85em;
      margin-right: 0.5em; }

/** End of Footer Styles **/
/* ==========================================================================
   Media Queries for Responsive Design.
   Theses styles override the primary ('mobile first') styles.
   ========================================================================== */
@media only screen and (min-width: 640px) {
  /* Style adjustments for viewports that meet the condition */
  header nav {
    clear: none;
    float: right;
    line-height: 4.75em;
    margin-bottom: 0em; }
    header nav a {
      margin-right: 0;
      margin-left: 1em; }

  .content p {
    max-width: 720px; }
  .content input {
    width: 350px; }
  .content textarea {
    width: 500px; }
  .content.home h1 {
    font-size: 5em; }
  .content.page h1 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 1.5em; }
  .content.page form button {
    margin-left: auto;
    margin-right: auto; }
  .content > section {
    margin-top: 0; }
    .content > section header {
      float: left;
      margin-right: 3%;
      padding-left: 0;
      width: 28%;
      padding-top: 2em;
      border: none; }
      .content > section header h1 {
        margin-bottom: 2.5641%;
        padding-right: 5.12821%; }
      .content > section header h2 {
        margin-bottom: 0.5em;
        padding-right: 0; }
      .content > section header p {
        padding-right: 0; }
      .content > section header dl {
        margin-bottom: 0;
        margin-top: 4em; }
        .content > section header dl dt {
          display: block; }
        .content > section header dl dd {
          float: left;
          width: 67.3913%;
          margin-right: 0; }
      .content > section header dt {
        border-top-color: #bfbfbf;
        font-weight: 500;
        color: #737373; }
      .content > section header.sticky {
        position: fixed;
        top: 0; }
    .content > section .main {
      margin-right: 0;
      float: right;
      width: 65%;
      margin-top: -1em;
      padding-top: 0;
      padding-bottom: 10%;
      padding-left: 0; }
      .content > section .main li > p {
        display: block;
        float: left;
        width: 15.09434% !important;
        font-weight: 400;
        color: #222;
        margin-right: 3.77358%; }
      .content > section .main h2, .content > section .main li > p:first-child {
        height: 4em;
        padding-top: 3em;
        padding-bottom: 0; }
      .content > section .main h2 {
        float: left;
        width: 81.13208%;
        padding-top: 2.3em;
        padding-right: 0; }
      .content > section .main h3 {
        float: left;
        width: 81.13208%;
        margin-right: 0;
        margin-top: 0.5em;
        margin-bottom: 2em;
        margin-left: 18.86792%; }
      .content > section .main form {
        margin-top: 0;
        padding-top: 4em;
        border-top: solid 1px #E6E6E6; }
        .content > section .main form ul li.inline {
          display: inline-block;
          vertical-align: middle;
          width: 325px;
          margin-right: 1em; }
      .content > section .main ul li {
        margin-top: 4em; }
        .content > section .main ul li div {
          display: block;
          float: left;
          margin-right: 3.77358%;
          width: 62.26415%;
          margin-left: 18.86792%; }
      .content > section .main aside {
        float: right;
        width: 14%; }
        .content > section .main aside ul li {
          float: none;
          display: block;
          padding-bottom: 0;
          line-height: 2.25em; }
          .content > section .main aside ul li + :before {
            display: none;
            content: ""; }

  footer.shadow {
    box-shadow: 0 -3px 5px #EEE; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dppx) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (max-width: 480px) {
  header > nav > a {
    font-size: 0.9em; } }

/*# sourceMappingURL=main.css.map */
