@import "bourbon/bourbon";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:300,400,700);
/*
 * USIU Hackathon Mar 2015 Info Site
 *
 */

$blue: #00A0E3;
$usiu_yellow: #FFCB08;

$primary_stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$opensans_stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald_stack: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;

//* Default Normalize Styles
@import 'defaults';

/* ==========================================================================
   Site styles
   ========================================================================== */

@import 'nav';

//* Common Layout Styles
@import 'common';

//* General Styles
@import 'general';

//* Guides Page
@import 'guide';

//* Footer Styles
@import 'footer';

//* Media Queries
@import 'mediaqueries';