worker_processes  {{ processes }};

user www-data www-data;
error_log  {{ error_log }};
pid        {{ pid_log }};

include /opt/nginx/sites-enabled/*;
worker_rlimit_nofile 8192;

events {
  worker_connections  4096;
  use epoll;
}

http {
  index    index.html;
  types_hash_max_size 2048;

  default_type application/octet-stream;
  include       /etc/nginx/mime.types;

  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
  '"$request" $body_bytes_sent "$http_referer" '
  '"$http_user_agent" "$http_x_forwarded_for"';
  access_log   logs/access.log  main;
  sendfile     on;
  tcp_nopush   on;
  server_names_hash_bucket_size 128;

  # concurrent limits
  limit_conn slimits    50;
  limit_conn  gulag   50;

   ## Timeouts
  client_body_timeout   60;
  client_header_timeout 60;
  keepalive_timeout     60 60;
  send_timeout          60;

  ## Compression
  gzip              on;
  gzip_buffers      16 8k;
  gzip_comp_level   4;
  gzip_min_length   1000;
  gzip_disable    "MSIE [1-6].(?!.*SV1)";
  gzip_proxied    expired no-cache no-store private auth;
  gzip_types    text/plain text/css text/javascript application/json application/x-javascript application/xml;


  server {
    listen       443;

    server_name  www.usiuhackathon.me usiuhackathon.me;
    access_log   /var/log/nginx/access.log  main;
    root         html;
    #error_page 502 503 /var/www/hackathon/views/503.html;
    #error_page 404 /var/www/hackathon/views/404.html;
    #error_page 500 /var/www/hackathon/views/500.html;

    ## redirect www to nowww
    if ($host = 'www.usiuhackathon.me' ) {
        rewrite  ^/(.*)$  https://usiuhackathon.me/$1  permanent;
    }

    # Only allow these request methods
    #if ($request_method !~ ^(GET|HEAD|POST)$ ) {
    #    return 404;
    #}

    location / {
      proxy_pass   http://hackathon;
    }

    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};
    ssl on;

    location /static/ {
      expires 3d;
      root /var/www/hackathon/assets;
    }

  }

  server {
    listen       80;
    server_name  {{ server_name }};
    access_log   {{ access_log }}  main;

    rewrite ^/(.*) https://usiuhackathon.me/$1 permanent;

    ## redirect www to nowww
    if ($host = 'www.usiuhackathon.me' ) {
        rewrite  ^/(.*)$  https://usiuhackathon.me/$1  permanent;
    }

  }

  # reverse proxy
  upstream hackathon {
    server 127.0.0.1:8000 weight=5;
    server 127.0.0.1:8004 weight=5 max_fails=3 fail_timeout=120 down;
    server 127.0.0.1:8001 weight=3 down;
  }

}